.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    padding: 2rem;
    margin-top: 3%; /* Adjust based on your navbar height */
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 0.1rem;
  }
  
  p {
    font-size: 1.5rem;
    max-width: 800px;
  }

  .mic-button {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .mic-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .mic-button svg {
    font-size: 2rem;
    color: black;
  }

  .para{

    margin-top: 5px;
    font-size: 25px;
  }
  
  .captions {
    margin-top: 1rem;
    min-height: 100px;
    width: 80%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
  }


  .info-section {
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
  }
  
  .info-content {
    border-radius: 20px;
    padding: 3rem;
    color: #333; /* Darker text color for better contrast */
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -7%;
  }

  .photo{
    width: 55%;
  }
  
  .info-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: -5%;
  }
  
  .info-content > p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto 3rem;
  }
  
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .feature-card {
    background-color:  rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  .feature-card:hover {
    transform: translateY(-5px);
  }
  
  .feature-card svg {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #007bff; /* Adjust color as needed */
  }
  
  .feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .feature-card p {
    font-size: 1rem;
  }