.footer {
    background-color: rgba(255, 255, 255, 0.2);;
    color: black;
    padding: 4rem 0 2rem;
    font-family: Arial, sans-serif;
    margin-top: 6%;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .footer-section {
    flex: 1;
    margin-bottom: 2rem;
    min-width: 200px;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    position: relative;
  }
  
  .footer-section h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 50px;
    height: 2px;
    background-color: #0088cc;
  }
  
  .footer-section p, .footer-section ul {
    font-size: 0.9rem;
    line-height: 1.8;
    margin: 0;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 0.75rem;
  }
  
  .footer-section a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section a:hover {
    color: #0088cc;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0088cc;
    transition: background-color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: #fff;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #333;
  }
  
  .footer-bottom p {
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
    margin-left: 25%;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
    
    .footer-section {
      margin-bottom: 2rem;
      padding: 0;
    }
  }